@import "fonts/font-awesome/css/font-awesome.min.css";
@font-face{
	src: url(fonts/Noto-Sans/NotoSans-Regular.ttf);
	font-family: 'Noto Sans';
	font-weight: normal;
	font-style: normal;
}
html , body{
	font-family: 'Noto Sans', sans-serif !important;
	
}
.p-l-100{padding-left:100px;}
.logo{max-height: 70px; width: auto}
.dark-bg {
    background-color: #343a40!important;
}
.prime-color {color: #C4161C }
.white-btn {
    background: white;
	color: #C4161C;
	border-radius: 0px;
}
.prime-bg{background-color: #9e1116; color: #fff}
input , input:focus {outline: none !important;}
.product-slider img{height:200px; width:100% important;}
 
/* site colors */

/** header **/
	.header-menu .navbar{padding-top: 0px; padding-bottom: 0px;}
	.header-menu .navbar-nav .nav-link{
		color: black;
		font-size: 15px;
	}
	.header-menu .navbar-nav .nav-link:active , .header-menu .navbar-nav .nav-link:hover ,
	.header-menu .navbar-nav .active > .nav-link{
		color: red !important;
		font-weight: bold;
	}
	.header-search input{ width:200px !important; border-radius: 20px; position: relative; padding-left: 30px;}
	.header-search .btn{
		position: absolute;
		color: red;
		border: none;
		background: transparent;
	}
	.lang-btn{
		height: 35px;
		width: 35px;
		text-align: center;
		padding-top: 5px;
	}
/** end header **/
/** home page **/
	.about-icon{height: 80px;}
	.news figure{
		height: 240px;
	}
	.news .title h3 { height: 40px; overflow: hidden; color: black; font-size: 18px; font-weight: bold;}
	.news p{font-size: 15px; color: black; }
	.btn-gray{background-color: #4A4848; color: #ffffff;}
	.btn-gray:hover{color: #ffffff; opacity: 0.8;}
	.social-icons li{
		-webkit-transition: -webkit-transform .8s ease-in-out;
		transition:         transform .8s ease-in-out;
	}
	.social-icons li:hover{
		color:red;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	.social-icons li a:hover , .contactSocial li a:hover{
		color:red;
	}
	.contactSocial li a{
		color:#4A4848 !important ;
		font-size: 30px;
	}


	
	.subscribe .btn{
		border-radius: 50%; position: absolute;
		right: 20px; width: 27px; height: 27px;
		padding: 0px;
		margin-top: 5px;
	}
	.subscribe .form-control{
		border-radius: 30px;
	}
/** end home **/

	
	
    .site-info li {
        border-left: solid 1px #ddd;
        padding: 0px 20px;
    }
    .site-info li:last-child {
        border-left: none;
    }
    .inner-header{
    	background: url(../images/img13.jpg) fixed center no-repeat;
    	background-size: cover;
    	height: 300px;
    	position:relative;
    }
    .inner-header .overlay{
    	width: 100%; 
    	height: 100%;
    	padding-top: 220px;
    	display:block;
    }
    .breadcrumb {
    	background-color: transparent;
    }
    .breadcrumb-item{
    	font-size: 17px;
    }
    .breadcrumb-item a{
    	color: white;
    }
    .breadcrumb-item.active{
    	color: white;
    }
    .breadcrumb-item+.breadcrumb-item::before{
    	color: white;
    }
	/** menu **/
		.header-menu {position: relative; z-index: 9999; 	border-bottom: solid 2px #C4161C;}
		#menu .largenav {padding-top: 0px;}
		.responsive-menu{display:none;}
		#menu ul li{position: relative;}
		#menu ul li a{color:#000;font-size: 16px;} 
		.responsive-menu .logo{width:90px;}
		.responsive-menu .close-btn {
			font-size: 30px;
			cursor: pointer;
			transition: all 0.4s ease-in-out;
			color:red
		}
		#menu .sub-menu{
			transform: scale(0);
			position: absolute;
			background-color:#fff;
			min-width: 200px;
			top: 40px;
			left: 0px;
			transition: ease 0.2s;
			padding: 5px;
			border-bottom: solid 2px #c4161c;
		}
			#menu .sub-menu li{padding:10px 5px;}
		#menu .sub-menu li a{font-size: 15px;}
		#menu ul li:hover .sub-menu{
			transform: scale(1)
		}
		#menu .sub-menu li:hover{background-color: #C4161C}
		#menu .sub-menu li:hover a{color: #fff}

		/*Sidenav */
			.sidenav {
			    height: 100%;
			    width: 0;
			    position: fixed;
			    z-index: 1;
			    top: 0;
			    left: 0;
			    background-color: #fff;
			    overflow-x: hidden;
			    transition: 0.5s;
			    box-shadow: 0 4px 8px -3px #555454;
			    padding-top: 0px;
			}
			.sidenav ul {margin-top:25px;}
			.sidenav a {
			    padding: 8px 8px 8px 32px;
			    text-decoration: none;
			    font-size: 17px;
			    display: block;
			    transition: 0.3s;
			    color:#000;
			}

			.sidenav .closebtn {
			    position: absolute;
			    top: -19px;
			    right: 10px;
			    font-size: 36px;
			    margin-left: 50px;
			    color: #000;        
			}
			
			@media screen and (max-height: 450px) {
			  .sidenav a {font-size: 18px;}
			}

			.sidenav-heading{
			    font-size: 36px;
			    color: #fff;
			}

    
            
		
	/** end header **/

/** slider **/
.slider .carousel-item{
	height: 550px;
	background-color: #000;
}
.slider .carousel-item img{
	opacity: 0.5;
}
.slider .carousel-item img {
    opacity: 0.9;
    width: 100%;
}
.slider .carousel-item h2{
	font-size: 35px;
}
.slider .carousel-caption { top:40%; text-align: left;}

/** #END# slider **/
/** Homepage **/
	.about-sec .title{position: relative;}
	.about-sec .title::before{
		display: block;
        content: "";
        height: 3px;
        width: 70px;
        background-color: red;
        position: absolute;
        top: 17px;
        left: -100px;
	}
	.about-sec2 .title{position: relative; text-align: right;}
	.about-sec2 .title::before{
		display: block;
        content: "";
        height: 3px;
        width: 70px;
        background-color: red;
        position: absolute;
        top: 17px;
        right: -100px;
	}
	.products .title{padding-left: 50px;}
	.products .about-sec .title::before{
		display: block;
        content: "";
        height: 3px;
        width: 70px;
        background-color: red;
        position: absolute;
        top: 10px;
        left: -25px;
	}
	.category-img{
		border-radius: 20px;
	}
	.products .product {
		border-radius: #f7f7ff;
		margin-bottom: 30px;
	}
	.products .product figure , .products .product figure img {
		height: 250px;
	}
	.products .product h4{font-size: 18px;}
	.products .product h5{font-size: 16px;}

	.products-owl-demo .owl-item figure{ height: 150px;}
	.products-owl-demo .owl-item figure img , .testmonial-owl-demo .owl-item figure img{
		width: 100%;
		height: 100%;
	}
	.products-owl-demo .owl-item h3{
		color: black;
		font-size: 17px;
		padding-bottom: 15px;
	}
	.products-owl-demo .item{margin: 10px;}
	.testmonial-owl-demo .owl-item figure{ height: 250px;}
	.testmonial-owl-demo .item{
		border: solid #f7f7ff 1px;
		margin: 15px;
	}
	.testmonial-owl-demo .item h2 , .fulldata h2{
		font-size: 18px;
	}
	.testmonial-owl-demo .item h5 ,  .fulldata h5{
		font-size: 15px;
	}

	.borderedImg img{height: 350px; border-bottom-left-radius: 350px;}


	.btn-custom {
		width: 100%; border-radius: 0px;
		background-color: #C4161C;
		color: #fff;
	}
	.btn-custom:hover{
		background-color: #9e1116;
		color: #fff;
	}
	.header-title {
		position: relative;
		display: inline-block;
		padding: 0px 60px;
		margin-bottom: 20px;
	}
	.header-title:before {
		content: "";
		position: absolute;
		width: 60px;
		height: 3px;
		background: #fff;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		background-color: #C4161C;
		right: -35px;
	}
	.header-title:after {
		content: "";
		position: absolute;
		width: 60px;
		height: 3px;
		background: #fff;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		background-color: #C4161C;
		left:-35px;
	}
	.sponsors .partners-owl-demo img{width: 150px;}
	.careers figure{
		height: 250px;
		position: relative;
	}
	.careers .title{
		margin: auto;
		position: absolute;
		top: 100px;
		left: 0px;
		right: 0px;
		text-align: center;
	}
	.partners .partners-owl-demo .owl-item{
	    margin:0px 10px;
	}
	.partners .partners-owl-demo img {
    max-width: 170px;
    margin-top: 15px;
    height: 75px;
    margin-left: 5px;
}
	.tech{
		max-height: 200px;
		overflow: hidden;
	}
	.map iframe{width: 100%; height: 400px; overflow: hidden;}
	.loc{font-size: 17px; line-height: 30px;}

	form textarea {height: 120px;}

	.page-item.active .page-link {
		z-index: 2;
		color: #fff;
		background-color: #dc3545 !important;
		border-color: #c4161c !important;
	}

	.page-item .page-link { color: black;}

	.applyForm{
		border: #f7f7f7 1px solid;
    	background: #f9f9f9;
	}
	.articleImg {height: 400px; overflow: hidden;}
/** #END# Homepage **/

/***************** Footer ******************/
footer{padding-bottom: 0px !important;}
footer ul.links {
	columns: 2;
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
footer ul li{
	margin-bottom: 10px;
}
footer a , footer a:hover{
	color: white;
}

footer .contact-info li{color: #fff}
footer ul.social li{
	display: inline;
}
/**footer ul.social li a svg{
	font-size: 19px;
	color: white;
}
footer ul.social li a svg:hover{
	transform: scale(1.3);
} **/
footer .links a{
	font-size: 16px;
}
footer .links a:hover{
	color: #fff;
	transform: scale(1.3);
}
footer .form-control{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 0;
	border: 0;
	transition: all 0.4s ease-in-out;
	color: white !important;
	font-size: 14px;
}
footer .form-control:focus{
	background-color: rgba(0,0,0,0.4);
}
footer textarea{
	height: 150px !important;
}
footer p{
	font-size: 14px;
}
footer hr{
	border: 0;
	height: 1px;
	background-color: rgba(255,255,255,0.2);
}
/************* footer **************/

.nav-pills .nav-link.active, .show>.nav-pills .nav-link ,.nav-pills .nav-link:hover {
    color:black !important;
    background:transparent !important;
    border-right:3px red solid;
    border-radius:0px;
}
.nav-pills .nav-link{
    color: #989797;
    padding: 17px 14px;
}
.the-form{
    padding:50px;
    margin:0px 70px;
    margin-bottom:25px;
}
.contact li a{color:#000;}
.mobile-header .logo{height: 50px;}

/** responsive **/
.mobile-header{display:none}

@media screen and (max-width: 991px) {
	.site-header { display: none; } .mobile-header , .responsive-menu{display: block;}
	#content{top: 0px;}
	.slider .carousel-item{height: 300px;}
	.slider .carousel-caption {
		top: 33%;
	}
}
		


@media (max-width: 991px) {
	footer h4 {margin-top: 50px;}
}


    